@import "../../utils/scssVars/variables.scss";

.home-container {
    margin-top: 1rem;

    .goals-container {
        width: 35%;
        .add-goal-button-container {
            display: flex;
            justify-content: center;
        }
    }
    .stats-calander-container {
        width: 65%;
    }
}
