@import "../../utils/scssVars/variables.scss";

.home-container{
    margin-top: 1rem;
    display: flex;

    .goals-container{
        width: 35%;

    };
    .stats-calander-container{
        width: 65%
    }
}