$fontColorDark: #000;
$fontColorLight:  #dedede;
$fontColorBorder: rgb(150, 148, 255);
$fontColorBorderAlt: rgb(37, 37, 61);
$fontColorHighlight:  rgb(68, 165, 76);
$fontColorHighlightAlt: rgb(45, 106, 181);


