@import "../../../utils/scssVars/variables.scss";

.goal-item-container {
    display: flex;
    transition: 0.1s ease-in-out;
    border: 1px dotted $fontColorBorderAlt;
    position: relative;
    flex-flow: column;
    .check-mark {
        transform-origin: center center;
        animation: getCheckmark 2s;
    }
    &:hover {
        border: 1px solid $fontColorBorder;
        transform-origin: center center;
        transform: scale(1.01);
    }

    img {
        height: 7rem;
        padding: 1rem;
    }
    button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
}

.min-view-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .streak-display-container {
        display: flex;
        align-items: center;
        width: 33%;
        align-self: center;
        p {
            margin: 0 0 0 3rem;
            font-size: 3rem;
        }
    }
}

.max-view-container {
    margin: 0 3rem;
    transform-origin: top center;
    animation: maxViewopen 0.5s;

    .day-box-container {
        display: flex;
        justify-content: space-between;
        border: 2px solid black;
        margin-bottom: 2rem;

        .day-box {
            background-color: white;
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
            border: 2px solid black;
            width: 100%;
            text-align: center;
            transition: all 0.07s ease-in-out;
            &:hover {
                transform-origin: center center;
                transform: scale(1.1);
                box-shadow: 0 0 10px black;
            }
        }
        .selected-day {
            background-color: $fontColorHighlightAlt;
            color: white;
        }
        .completed-day {
            color: white;
            background-color: $fontColorHighlight;
            transform-origin: center center;
        }
    }
    .any-day-indicator {
        margin: 0 0 0.5rem 0;
        padding: 0;
        text-align: center;
        border: 2px solid black;
        width: 100%;
    }
}

@keyframes maxViewopen {
    from {
        opacity: 0;
        transform: scale(1, 0);
    }
}

@keyframes dayCheckoff {
    0% {
        background-color: rgb(223, 247, 225);

        border-color: aliceblue;
    }
    20% {
        transform: scale(0.5);
    }
    50% {
        border-color: rgb(218, 238, 255);
        transform: scale(1.1);
    }
    100% {
        border-color: black;
    }
}

@keyframes getCheckmark {
    0% {
        transform: scale(3) rotate(-360deg);
        opacity: 0%;
    }
    75% {
        transform: scale(0.8) rotate(-360deg);
    }
    90% {
        transform: scale(1.2) rotate(0deg);
    }
}
