.goal-item-container {
    border: 1px dotted red;
    position: relative;

    &:hover {
        border: 2px dotted rgb(4, 0, 255);
    }

    button {
        position: absolute;
        top: 0;
        right: 1rem;
    }
}

