:root{
  --font-color: #2e2836;
  --secondary-font-color: #e6e5e8;
  --bg-color: #4D8BB2;
  --secordary-bg-color:#B2744D;
  --accent-color: #A64DB2;
  --highlight-color: #59B24D;
}


@font-face {
font-family: "default-font";
src: local("default-font"),
 url("./fonts/font.ttf") format("truetype");
font-weight: bold;
}

body {
  margin: 0;
  font-family: "default-font";
    color:var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border-color: var(--font-color);
  color: var(--secondary-font-color);
  background-color: var(--accent-color);

  margin: 0 1rem;
  padding: 0 1rem;
  font-size: 1.1rem;
  border-radius: 25px;
  font-family: "default-font";
}

button:hover{
  border-color: var(--font-color);
  color: var(--font-color);
  background-color: var(--highlight-color);
}